* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import './Variables/color';
@import './Variables/fonts';
@import './Variables/Mapas';
@import './Variables/extends';
@import './Variables/mixins';

body {
    background: $colorFondo;
    font-family: $fuentePrincipal;
}

@import './componentes/header';
@import './componentes/nav';
@import './componentes/footer';
@import './componentes/index';
@import './componentes/nosotros';
@import './componentes/auriculoterapia';
@import './componentes/productos';
@import './componentes/contacto';
@import './componentes/mediaquery';