/*inicio estilos footer*/
footer {
    color: black;
    background-color:#c6c6c6;
    text-align: center;
    padding: 20px;
    clear: both;

}

.rrss {
    margin-bottom: 15px;
}


.rrss a {
    padding: 0 25px;
    color: black;
    font-size: 30px;
}

.rrss i:hover {
    transition: 1s;
    transform: rotate(360deg);

}



/* fin estilos footer*/
