.servicios {
    width: 90vw;
    margin: 0 auto;
    padding: 120px 0 20px;
}


.masaje_infantil {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;


    img {
        float: left;
        @include imagenes(400px, 400px, 15%);
        padding: 15px;
        object-fit: cover;
    }

}

.textos_infantil {
    text-align: justify;
    padding: 20px;
    font-weight: 300;
    font-family: $fuenteSecundaria;
    line-height: 20px;

    h2{
        padding-bottom: 10px;
    }

    p {
        padding-bottom: 20px;

        font-size: 16px;
    }

    

}