.servicios {
    width: 90vw;
    margin: 0 auto;
    padding: 120px 0 20px;
    color: #898d8e;

    .masaje_infantil {
        display: flex;
        align-items: center;
    }
}



.textos_distal {
    font-family: $fuenteSecundaria;

    p {
        font-size: 16px;
    }
}