.nosotros {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $colorSecundario;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #898d8e;
    text-align: justify;
    padding-top: 100px;

    .img_nosotros {
        padding-right: 50px;

        img {
            border-radius: 20%;
        }
    }

    .texto_nosotros {
        width: 60%;

        h3 {
            font-size: 16px;
            padding: 10px 0;
        }
    }

    .texto_pie {
        padding: 20px 0;
    }
}








.nosotros_cta {
    display: flex;
    justify-content: flex-end;

    .call_btn {
        font-size: 20px;
    }
}