.servicios {
    width: 100vw;
    margin: 0 auto;
    padding: 120px 0 20px;
}

.cabecera {
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 30px;

}

.cabecera p {
    font-size: 20px;
}

span {
    font-weight: bolder;
}

.producto {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.producto_img img {
    @include imagenes(300px,300px,15%);
    padding: 15px;
    object-fit: cover;
}

.textos_productos {
    text-align: justify;
    padding: 20px;
    font-weight: 300;
}
